:root {
  --primary-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --primary-background-white-color: #f4f4fd;
  --second-background-color: #2e2f42;
  --primary-accent-color: #2e2f42;
  --secondary-accent-color: #434455;
  --hover-color: #404bbf;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-accent-color);
  background-color: var(--primary-background-white-color);
  letter-spacing: 0.02em;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.header-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: currentColor;
}

.logo-part {
  color: #4d5ae5;
}

.header-nav-link {
  font-weight: 500;
  line-height: 1.5;
  color: currentColor;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--hover-color);
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  color: currentColor;
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
}

.section-hero {
  background-color: var(--second-background-color);
  text-align: center;
}

.section-hero h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
}

.button-hero {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--hover-color);
}

.advantages-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.advantages-list p {
  line-height: 1.5;
  color: #434455;
}

.title-section-all {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.section-our-team {
  background-color: #e5e5e5;
}

.our-team-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.our-team-list p {
  line-height: 1.5;
  color: var(--secondary-accent-color);
}

.our-portfolio-list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.our-portfolio-list p {
  line-height: 1.5;
  color: #434455;
}

.basement {
  background-color: var(--second-background-color);
}

.logo-basement {
  color: #f4f4fd;
}

.basement p {
  line-height: 1.5;
  color: #f4f4fd;
}
